.keyword,
.operator,
.property,
.regex-delimiter,
.regex-flags {
  color: #ef3b7d;
}

.string,
.function,
.class-name {
  color: #e6d06c;
}

.boolean,
.number,
.regex-source,
.constant {
  color: #a77afe;
}
