html {
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
  width: 100%;
}

body {
  width: 100%;
  margin: 0;
  font-family: Inter;
}

#app {
  width: 100%;
}

main {
  width: 100%;
  padding: 0 16px 64px;
  box-sizing: border-box;
}

blockquote {
  border-left: 4px solid var(--colors-accent-500);
  padding: 8px 16px;
  margin: 16px 0;
}

blockquote > p {
  margin: 0;
}

#playground-form {
  padding: 0;
}
