.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 64px;
  padding-top: 24px;
  grid-column: span 2;
}

.footer > a {
  display: inline-flex;
  gap: 6px;
  align-items: center;
}
