:root {
  font-family: Inter, sans-serif;
  --colors-black-100: #ffffff;
  background: #191d3a;
}

body {
  margin: 0;
}

.demo {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

select {
  height: 48px;
  background: var(--colors-black-900);
  border-radius: 6px;
}

pre {
  white-space: pre-wrap;
}

@media (max-width: 768px) {
  .demo {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }

  .form {
    grid-row: span 2;
  }
}

@media (max-width: 480px) {
  .demo {
    grid-template-columns: 1fr;
  }
}
