.navigation {
  padding: 16px 32px;
  position: sticky;
  top: 60px;
  align-self: start;
  box-sizing: border-box;
}

.links {
  list-style: circle;
  padding: 0;
  margin: 0;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.links li::marker {
  color: var(--colors-accent-500);
}

@media (max-width: 768px) {
  .navigation {
    display: none;
  }
}
