.link {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  color: var(--colors-black-100);
  text-decoration: none;
  transition: color 0.3s;
}

.link:hover {
  color: var(--colors-accent-500);
}

.active {
  color: var(--colors-accent-500);
  border-bottom: 1.5px solid var(--colors-accent-500);
}
