name: Publish

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"

permissions:
  id-token: write
  packages: write
  contents: read

jobs:
  npm:
    if: github.event.base_ref == "refs/heads/master"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: "https://registry.npmjs.org"

      - run: npm install -g npm@latest
      - run: npm ci
      - run: npm run build
      - run: npm publish
