name: Test

on:
  pull_request:
    branches: [master]

permissions:
  contents: read

jobs:
  vitest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - run: npm ci
      - run: cd ./tests && npx playwright install --with-deps chromium
      - run: npm run test
